@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Basic colors */
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    /* UI Components */
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    /* Primary & Secondary */
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    /* Additional UI States */
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    /* Actions & Feedback */
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --warning: 45 100% 50%;
    --warning-foreground: 0 0% 0%;
    --info: 200 100% 50%;
    --info-foreground: 0 0% 100%;
    --success: 120 100% 50%;
    --success-foreground: 0 0% 100%;

    /* Borders & Inputs */
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    /* Misc */
    --radius: 0.5rem;
  }

  .dark {
    /* Basic colors */
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    /* UI Components */
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    /* Primary & Secondary */
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    /* Additional UI States */
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    /* Actions & Feedback */
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --warning: 54 100% 68%;
    --warning-foreground: 0 0% 0%;
    --info: 192 100% 77%;
    --info-foreground: 0 0% 0%;
    --success: 131 43% 57%;
    --success-foreground: 0 0% 0%;

    /* Borders & Inputs */
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}




